body {
}

nav a:hover {
  background: #ff221c;
  color: #fff;
  cursor: pointer;
}

nav a.art-handler {
  background: #fff;
  color: #ff221c;
}

nav a.art-handler:hover {
  background: #ff221c;
  color: #fff;
}
