/* Preload images */
body:after {
  content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);
  display: none;
}

.lightboxOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: #fff;
  opacity: 1;
  display: none;
}

.lightbox {
  position: fixed;
  left: 0;
  top:0!important;
  bottom: 0;
  right:0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display:inline-block!important;
  max-width: inherit;
  height: 100%!important; // Fallback
  height: 100vh!important;
  width: auto!important;

}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: fixed;
  top: 0;
  height: 100%!important;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}


.lb-loader {
  display: block;
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 62px;
  height: 62px;
  margin: 0 auto;
  background: url(../images/close.gif) no-repeat!important;
}



.lb-nav {
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  position: fixed;
  width: 125px;
  left: 0;
  float: left;
  background: url(../images/leftarrow.svg) left 48% no-repeat;
}

.lb-nav a.lb-prev:hover {
}

.lb-nav a.lb-next {
  position: fixed;
  width: 125px;
  right: 0;
  float: right;
  background: url(../images/rightarrow.svg) right 48% no-repeat;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  *zoom: 1;
  width: 100%;
  width: 100%!important;
  background-color: red;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  text-align: left;
  line-height: 1.1em;
  position: fixed;
  padding: 4px;
  bottom: 24px;
  left: 0;
  right: 0;
  text-align: center;
  /*font-family: "Courier New", monospace;
  font-size: 14px;*/
}

.lb-data .lb-caption {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: #ff221c;
  background: #fff;
  padding: 4px;
}

.lb-data .lb-caption a { color: #ff221c !important; }

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: none;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}