/*

Kirby Starterkit

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

*/


/* Source Sans Pro
-------------------------------------------------- */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/sourcesanspro-300.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/sourcesanspro-600.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400-italic.woff) format('woff');
}


/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}


/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%;
}


/* Links
-------------------------------------------------- */
a {
  text-decoration: underline;
  color: #000;
}

a:hover {
  text-decoration: none;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both;
}


/* Site
-------------------------------------------------- */

html {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.25em;
  background: #fff;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}


/* Header
-------------------------------------------------- */
.header {
  margin-bottom: 1.5em;
  height: 82px;
}
.logo {
  display: block;
  margin-bottom: 1.5em;
}
.logo img {
  width: 2em;
}


/* Navigation
-------------------------------------------------- */
/*.menu a {
  display: block;
  color: #222;
}
.menu a:hover {
  color: red;
  text-decoration: none;
}
.menu .active {
  color: red;
}
.menu li {
  list-style: none;
}
.menu > li {
  position: relative;
}
.menu > li > a {
  padding: .35em 0;
  border-top: 1px solid #ddd;
  font-weight: 600;
}*/

.submenu {
  position: absolute;
  z-index: 1;
  display: none;
  left: 1em;
}
.submenu:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: -.5em;
  left: 0;
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-left: .5em solid #222;
}
.submenu li {
  border-bottom: 1px solid #444;
}
.submenu a {
  padding: .5em 1.5em;
  font-size: .9em;
  font-weight: 300;
  color: #fff;
  background: #222;
  white-space: nowrap;
}
.submenu a:hover {
  background: #333;
  color: #fff;
}

/* Headings
-------------------------------------------------- */
h1 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 400;
  margin-bottom: .5em;
}
/*h2 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 300;
  margin-bottom: .5em;
  color: red;
}
h3 {
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 400;
  margin-bottom: .5em;
}
h4 {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: .5em;
  color: red;
}*/
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}

h2, h3, h4 { font-weight: bold; }



/* Main
-------------------------------------------------- */
.main {
  margin: 0;
}

.main hr {
  margin: 3em 0;
  height: 2px;
  background: #ddd;
}

.main ul,
.main ol {
  margin-bottom: 1.5em;
}

/* Text blocks */
.text ul,
.text ol {
  margin-left: 1em;
}

/* Project meta
-------------------------------------------------- */
.meta {
  margin-bottom: 1.5em;
}
.meta li {
  float: left;
  list-style: none;
  margin-right: 2em;
  color: red;
}
.meta li b {
  font-weight: 400;
  color: #000;
  padding-right: .25em;
}


/* Project teaser
-------------------------------------------------- */
.teaser {
  list-style: none;
}
.teaser li {
  margin-bottom: 1.5em;
  list-style: none;
}
@media screen and (min-width: 50em) {
  .teaser li {
    float: left;
    width: 30%;
    margin-left: 5%;
  }
  .teaser li:first-child {
    margin-left: 0;
  }
}


/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 0;
  margin: 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: right;
}
.nextprev .next {
  float: right;
}


/* Footer
-------------------------------------------------- */
.footer {
  /*color: #ff221c;
  padding: 6px 20px;
  padding-left: 10px;
  font-size: 16px;*/
}
.copyright {
  float: left;
}
.colophon {
  float: right;
}
.colophon a b {
  color: red;
  padding-left: .25em;
}


/* ART HANDLER Custom CSS
-------------------------------------------------- */


/* Base styles
-------------------------------------------------- */

html {
  min-height: 100%;
  position: relative;
}

body {
  width: 100%;
  /*height: 100%;*/
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;*/
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.clearer {
  display: block;
  clear: both;
}

p {
  margin: 1em 0;
}

/* Home
-------------------------------------------------- */

body.home {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.home-info {
  position: absolute;
  top: 200px;
  left: 72px;
  z-index: 7;
  background: #ccc;
  padding: 10px;
  font-size: 14px;
  border-left: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

.home-body {
  position: absolute;
  top: 72px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  /*background: #ff221c;*/
  z-index: -1;
}

img.special-image {
  width: 100%;
}

.image-container-one {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.image-container-two {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -10px;
  overflow: auto;
}

.top-bar {
  position: fixed;
  background: white;
  height: 10px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 7;
}

.bottom-bar {
  position: fixed;
  background: white;
  height: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 7;
}

.right-bar {
  position: fixed;
  background: white;
  width: 10px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 7;
}

.left-bar {
  position: fixed;
  background: white;
  width: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}

/* Navigation
-------------------------------------------------- */

nav {
  font-family: Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  height: 70px;
  font-size: 36px;
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  padding-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

nav a {
  color: #ff221c;
  text-decoration: none;
  display: block;
  text-align: center;
  float: left;
  padding: 10px 16px;
  background: none;
  height: 62px;
}

nav a:hover {
  background: #ff221c;
  color: #fff;
  cursor: pointer;
}

nav a.art-handler {
  background: #ff221c;
  color: #fff;
  font-weight: bold;
  /*width: 62px;*/
}

nav a.current {
  background: #ff221c;
  color: white;
}

nav a.next, nav a.prev {
  float: right;
}

.nextprev {
  margin-right: 62px;
}

#back-to-top {
  height: 62px;
  font-size: 36px;
  color: #ff221c;
  text-decoration: none;
  padding: 10px 16px;
  margin-right: 62px;
  background: none;
  cursor: pointer;
}

#back-to-top:hover {
  color: #fff;
  background: #ff221c;
}

.article-footer {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 120px;
}

ul#social {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 10px;
}

ul#social a {
  float: right;
  display: block;
  height: 16px;
  width: 16px;
  padding: 0;
  margin: 0 3px;
}

ul#social a:hover {
  background: none;
}

ul#social a li {
  background: yellow;
  height: 18px;
  width: 18px;
}

ul#social a li.instagram {
  background:url('../../assets/images/social-instagram.png');
  background-size: 18px 18px;
}

ul#social a li.tumblr {
  background:url('../../assets/images/social-tumblr.png');
  background-size: 18px 18px;
}

ul#social a li.twitter {
  background:url('../../assets/images/social-twitter.png');
  background-size: 18px 18px;
}

ul#social a li.fb {
  background:url('../../assets/images/social-fb.png');
  background-size: 18px 18px;
}

body.home ul#social {
  display: none;
}

/* Home
-------------------------------------------------- */

.gradient {
  /*background-image: -ms-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #00A3EF 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #00A3EF 100%);*/
}

table.home {
  /*background: #ff221c;*/
  position: fixed;
  z-index: 6;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
}

#marquees {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
.marquee {
  position: fixed;
  font-size: 16px;
  text-transform: uppercase;
  color: #ff221c;
  z-index: 8;
  width: 200vw;
  z-index: 6;
  transform: translateX(0);
}
.marquee .text {
  width: 100vw;
  float: left;
}


/* Magazine
-------------------------------------------------- */

ul.magazine-block {
  list-style-type: none;
  margin: 0;
  background: #ff221c;
  height: 100%;
  margin: 72px 10px 10px;
  padding: 5px;
  font-size: 24px;
}

ul.magazine-block .grid-col[data-has-image="false"] .title,
ul.magazine-block .grid-col[data-has-image="false"] .byline,
ul.magazine-block .grid-col[data-has-image="false"]:hover .type {
  color: #fff;
}
ul.magazine-block .grid-col[data-has-image="false"]:hover .title,
ul.magazine-block .grid-col[data-has-image="false"] .type,
ul.magazine-block .grid-col[data-has-image="false"]:hover .byline {
  color: #ff221c;
}
ul.magazine-block .grid-col[data-has-image="false"]:hover .byline {
  background: #fff;
}

.grid-wrap {
  margin: 0;
  overflow: hidden;
  clear: both;
}

.grid-col,
.small,
.fifty {
  float: left;
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  /*transition: all .2s ease-in-out;*/
}

.small {
  float: none;
  display: inline-block;
  vertical-align: top;
  margin-right: -5.5px !important;
}

.small.centered {
  float: none;
  display: block;
  margin: 2em auto !important;
}

.fifty {
  float: none;
  display: inline-block;
  vertical-align: top;
  margin-right: -5.5px !important;
}

.article-container {
  margin: 5px;
}

.article-container a {
  border-bottom: 1px solid #000;
}

.article-container a:hover {
  color: #fff;
  background: #000;
}

.article-container figure {
  max-width: 780px;
  margin: 2em auto;
}

.article-container figure.large {
  max-width: 100%;
}

.article-container figure.small {
  max-width: 25%;
}

.article-container figure.fifty {
  max-width: 50%;
}

.article-container img {
  max-width: 780px;
  padding: 5px;
}

.article-container .small img {
  max-width: 100%;
}

.article-container .fifty img {
  max-width: 100%;
}

.article-container .large img {
  max-width: 100%;
}

.article-container figcaption {
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  padding: 0 5px;
  margin-bottom: 10px;
}

.article-container figcaption .footnote {
  font-size: 10px;
}

.grid-col.col-full {
  font-size: 36px;
  color: #fff;
  padding: 10px 4px;
}

.col-full { width: 100%; }
.col-one-half, .fifty { width: 50%; }
.col-one-third { width: 33.333%; }
.col-two-thirds { width: 66.666%; }
.col-one-quarter, .small { width: 25%; }
.col-three-quarters { width: 75%; }

.grid-col .title-container {
  position: absolute;
  top: 6px;
  left: 10px;
  right: 10px;
  z-index: 2;
}

.grid-col .title {
  font-size: 26px;
  margin-right: 10px;
  color: #ff221c;
}

.grid-col .metadata {
  position: absolute;
  bottom: 10px;
  left: 5px;
  right: 10px;
  z-index: 2;
  font-size: 16px;
}

.grid-col .byline,
.grid-col .type {
  float: left;
  padding: 4px;
}

.grid-col .type { background: #fff; text-transform: capitalize; }
.grid-col .byline { }

.grid-col:hover .title {
  background: #fff;
  border-bottom: 1px solid #fff;
}

.grid-col:hover .type { background: none; }
.grid-col:hover .byline { background: #ff221c; }

.type .topic { font-style: italic; }

.type .topic:before{
    content: " ";
}

.grid-col .square img {
  max-width: 100%;
}

.grid-col .image {
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  left: 5px;
  z-index: 1;
}

.grid-col .image img {
  max-height: 100%;
}


/* News */

.news-title {
  position: relative;
  display: block;
  cursor: pointer;
  width: 100%;
  height: 62px;
  padding-top: 4px;
}

.news-block {
}

.news-block h2.title {
  position: absolute;
  left: 0;
  white-space: nowrap;
}

.news-block .news-date {
  position: absolute;
  right: 0;
  text-align: right;
  font-size: 36px;
}

.news-block h2 {
  font-size: 36px !important;
  color: #fff !important;
  font-weight: normal;
  text-transform: uppercase !important;
  margin-top: 0 !important;
  text-align: left;
  text-transform: none;
  cursor: pointer;
}

.news-block h2:hover {
  background: auto;
}

.news-block .content {
  display: none;
}

.news-block .text-block {
  margin: 0.5em 0 2em;
}


/* Individual article
-------------------------------------------------- */

.article-max {
  max-width: 1160px;
  margin: 0 auto;
}

.article-max img {
  max-width: 100%;
}

.article {
  color: #ff221c !important;
}

.article h1 {
  font-size: 120px;
  line-height: 1.1;
  margin: 144px 134px 0;
  text-align: center;
  color: #000;
}

.article .meta {
  display: none;
  width: 100%;
  text-align: center;
}

.scroll-pane {
  width: 100%;
  height: 200px;
  overflow: auto;
}

.jspCap {
  display: block;
  background: #eeeef4;
}

.jspVerticalBar .jspCap {
  height: 20px;
}

.jspHorizontalBar .jspCap {
  width: 50px;
  height: 100%;
}

.jspVerticalBar {
  width: 82px !important;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.jspTrack {
  background: rgba(255,255,255, 0); !important;
}

.jspDrag {
  background: #ff221c !important;
  height:62px!important;

}

body {
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: auto;
}


/* Other pages
-------------------------------------------------- */

.content-block {
  margin: 10px;
  margin-top: 72px;
  padding: 10px;
  font-size: 26px;
  position: relative;
  min-height: 100%;
}

.content-block {
  background: #ff221c;
  color: #fff;
}

.content-block a,
.text-block a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.content-block a:hover {
  background: #fff;
  color: #ff221c;
}

.content-block h1,
.magazine-block h1 {
  font-size: 120px;
  color: #fff;
  line-height: 1;
}

.magazine-block h2 {
  color: #fff;
  margin: -2rem 0 1rem 4px;
  font-weight: normal;
}

.content-block {
  line-height: 1.22;
}

.text-block,
.article-container p,
.article-container h2 {
  color: #fff;
  font-size: 24px;
  line-height: 1.2;
  max-width: 640px;
}

.article-container p,
.article-container h2 {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.25;
  font-size: 26px;
  max-width: 780px;
}

.article-container h2 {
  color: #000;
  font-weight: bold;
  margin: 0 auto;
}

.article-container .pullquote {
  font-size: 64px;
  color: #000;
  text-align: center;
  margin: 1em 72px;
}

.article-container span.redtext {
  color: #ff221c;
  max-width: 780px;
  margin: 1em auto;
}

.article-container div.smalltext {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000;
  max-width: 780px;
  margin: 1em auto;
}

.article-container blockquote p {
  max-width: 780px;
  line-height: 1.1;
  padding-left: 4em;
  font-size: 21px;
  font-weight: normal;
}

.article-container .text-block {
  margin: 0 auto;
}

.text-block h2,
.content-block h2 {
  color: #fff;
  font-weight: normal;
  font-size: 36px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 2em;
}

.text-block h2:first-child {
  margin-top: 0;
}

.article-container p .text-block {
  margin: 62px auto;
  color: #000;
}

.article-container p {
  color: #000;
  margin: 1em auto;
}

.article-container .outro p {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.article-container h2 {

}

.text-block .article-metadata {
  color: #000;
  text-align: center;
  margin: 62px auto;
}

.text-block .date {
  margin-bottom: 0.2em;
  font-weight: bold;
}

.issue {
  font-size: 24px;
  text-align: center;
  color: #000;
  margin-bottom: 1em;
}

.author-container span:not(:last-child):after {
  content: ',';
}
.author-container[data-type="short"] span:nth-last-child(2):after {
  content: ' &';
}
.author-container span:nth-last-child(2):after {
  content: ' and';
}

.text-block .author a {
  color: #000;
  border-bottom: 1px solid black;
}

.text-block .author a:hover {
  color: #fff;
  background: #000;
}

.footnote { font-size: 15px; }

.footnote a, .footnotereverse a {
  color: #000;
  border-bottom: none !important;
}

.footnote a:hover, .footnotereverse a:hover {
  color: #ff221c !important;
  background: none !important;
}

.footnotes {
  color: #000;
  font-size: 16px;
  max-width: 780px;
  margin: 120px auto;
}

.footnotes li {
  margin-bottom: 1em;
}

.footnotes li a {
  border-bottom: 1px solid #000;
}

.footnotes li a:hover {
  background: #000;
  color: #fff;
}


/* Media queries
-------------------------------------------------- */

@media screen and (max-width: 1126px) {

  nav, nav a { height: auto; }

  .content-block h2,
  nav,
  .news-block h2,
  .news-block .news-date,
  #back-to-top {
    font-size: 28px !important;
  }

  #back-to-top {
    height: 52px;
    margin-right: 52px;
  }

  .lb-cancel{
    height: 52px;
    width: 52px;
  }

  .news-title {
    height: 52px;
    padding-top: 8px;
  }

  .content-block h1,
  .magazine-block h1,
  .article h1 {
    font-size: 72px;
  }

  .article-container .pullquote {
    font-size: 48px;
  }

  ul.magazine-block,
  .content-block {
    margin-top: 62px;
  }

  .nextprev {
    margin-right: 52px;
  }

  .col-one-quarter,
  .small {
    width: 33.333333%;
  }

  .jspVerticalBar{
    width: 72px!important;
  }

  .jspDrag{
      height: 52px!important;
  }
}

@media screen and (max-width: 950px) {

  .nextprev { display: none; }

}

@media screen and (max-width: 824px) {

  .col-one-quarter,
  .small {
    width: 50%;
  }

  nav #social {
    display: none;
  }

}

@media screen and (max-width: 780px) {

  nav a {
    float: none;
    text-align: left;
  }

  .text-block,
  .article-container p {
    font-size: 21px;
  }

  .marquee {
    display: none;
  }

  ul.magazine-block,
  .content-block,
  .image-container-two {
    margin-top: 270px;
  }

  main.article {
    margin-top: 310px;
  }

  .article h1 {
    font-size: 54px;
    margin: auto;
    margin-top: 1em;
  }

  .article-container .pullquote {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {

  .news-date {
    display: none;
  }
}

@media screen and (max-width: 500px) {

}
